<div class="user-avatar" *ngIf="avatarURL; else noUserImage" matRipple>
	<img
		[src]="avatarURL"
		alt="Imagem de perfil"
		class="user-avatar__user-photo"
		[matMenuTriggerFor]="menuUser"
	/>
</div>
<mat-menu #menuUser xPosition="before" yPosition="below" ngForm="user">
	<button mat-menu-item>
		<mat-icon>account_circle</mat-icon>
		<span> {{user.nome}} {{user.sobrenome}} </span>
	</button>
	<button mat-menu-item>
		<mat-icon>email</mat-icon>
		<span> {{user.email}} </span>
	</button>
	<mat-divider></mat-divider>

	<mat-divider></mat-divider>
	<button mat-menu-item (click)="logout()">
		<mat-icon>exit_to_app</mat-icon>
		<span routerLink="/">Sair</span>
	</button>
</mat-menu>
<ng-template #noUserImage>
	<mat-icon class="user-avatar__generic-icon" [matMenuTriggerFor]="menuUser"
		>person</mat-icon
	>
</ng-template>
