.recovery-container {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	& form {
		display: flex;
		flex-direction: column;
		min-width: 95vw;
		text-align: center;

		.controls-container {
			display: flex;
			justify-content: space-between;

			button:nth-last-child(1) {
				width: 150px;
			}
		}
	}
}
