<div class="dashboard-container">
    <div class="dashboard-container">
        <div class="content">
            <h1>Bem-vindo ao Daybreak Viagens!</h1>
            <p>Aqui está o resumo das suas viagens.
                <br><h6>atualizado em 30 de Junho de 2023 às 10h00min</h6>
            </p>
        </div>
        <div class="content">
            <div class="card">
                <h2 class="card-title">Mensal</h2>
                <h3>100 viagens
                    <br><h4>R$ 1500,00</h4>
                </h3>
            </div>

            <div class="card">
                <h2 class="card-title">Semanal</h2>
                <h3>100 viagens
                    <br><h4>R$ 1500,00</h4>
                </h3>
            </div>

            <div class="card">
                <h2 class="card-title">Diárias</h2>
                <h3>5 viagens
                    <br><h4>R$ 150,00</h4>
                </h3>
            </div>

            <div class="card">
                <h2 class="card-title">Agendadas</h2>
                <h3>2 viagens
                    <br><h4>R$ 150,00</h4>
                </h3>
            </div>
        </div>
    </div>
</div>