<div class="dashboard-container">
    <div class="dashboard-container">
        <div class="content">
            <h2>Bem-vindo ao seu controle de viagens!</h2>
            <h5>Estamos trabalhando para que você tenha a melhor experiência possível.
                Aqui estão algumas informações fictícias para você ter uma ideia de como será o seu dashboard.
                <!-- <h6>Aqui estão algumas informações fictícias para você ter uma ideia de como será o seu dashboard.</h6> -->
            </h5>
            <!-- <p>Aqui está o resumo das suas viagens.
                <br><h6>atualizado em 30 de Junho de 2023 às 10h00min</h6>
            </p> -->
        </div>
        <div class="content">
            <div class="card">
                <h2 class="card-title">Mensal</h2>
                <h3>100 viagens
                    <br>
                    <h4>R$ 1500,00</h4>
                </h3>
            </div>

            <div class="card">
                <h2 class="card-title">Semanal</h2>
                <h3>100 viagens
                    <br>
                    <h4>R$ 1500,00</h4>
                </h3>
            </div>

            <div class="card">
                <h2 class="card-title">Diárias</h2>
                <h3>5 viagens
                    <br>
                    <h4>R$ 150,00</h4>
                </h3>
            </div>

            <div class="card">
                <h2 class="card-title">Agendadas</h2>
                <h3>2 viagens
                    <br>
                    <h4>R$ 150,00</h4>
                </h3>
            </div>

            <div class="card">
                <h2 class="card-title">Coottara</h2>
                <h3>5 viagens
                    <br>
                    <h4>R$ 150,00</h4>
                </h3>
            </div>

            <div class="card">
                <h2 class="card-title">Particular</h2>
                <h3>2 viagens
                    <br>
                    <h4>R$ 150,00</h4>
                </h3>
            </div>
        </div>
    </div>
</div>