<div class="modalRelatorio-container">
	<div class="close-button" title="Fechar" mat-dialog-close>
		<mat-icon>close</mat-icon>
	</div>
	<mat-stepper [orientation]="(stepperOrientation | async)!" [linear]="false">
		<mat-step label="Dados do veículo" state="edit" errorMessage="Preencha os campos obrigatórios."
			[stepControl]="_formGroupVehicle">
			<form [formGroup]="_formGroupVehicle" autocomplete="off">
				<mat-form-field>
					<mat-label> relatorioooooooooo </mat-label>
					<input matInput type="text" formControlName="modelo" required />
					<mat-error *ngIf="!_formGroupVehicle.hasError('required')">
						Informe o modelo do veículo.
					</mat-error>
				</mat-form-field>

				<mat-form-field>
					<mat-label> Marca </mat-label>
					<input matInput type="text" formControlName="marca" required />
					<mat-error *ngIf="!_formGroupVehicle.hasError('required')">
						Informe o modelo do veículo.
					</mat-error>
				</mat-form-field>

				<mat-form-field>
					<mat-label> Placa do veículo </mat-label>
					<input matInput type="text" formControlName="placa" required />
					<mat-error *ngIf="!_formGroupVehicle.hasError('required')">
						Informe a placa do veículo.
					</mat-error>
				</mat-form-field>

				<mat-form-field>
					<mat-label> Chassi </mat-label>
					<input matInput type="text" formControlName="chassi" required />
					<mat-error *ngIf="!_formGroupVehicle.hasError('required')">
						Informe o chassi do veículo
					</mat-error>
				</mat-form-field>

				<mat-form-field>
					<mat-label> Ano </mat-label>
					<input matInput type="text" formControlName="ano" required />
					<mat-error *ngIf="!_formGroupVehicle.hasError('required')">
						Informe a ano do veículo.
					</mat-error>
				</mat-form-field>
				
			</form>
			<div class="controls">
				<button color="primary" mat-button mat-dialog-close>Cancelar</button>
				<button color="primary" mat-raised-button matStepperNext>
					Proximo
				</button>
			</div>
		</mat-step>
		<mat-step label="Documentação" state="document" [stepControl]="_formGroupDocuments"
			errorMessage="Preencha os campos obrigatórios.">
			<form [formGroup]="_formGroupDocuments" autocomplete="off">
				<mat-form-field>
					<mat-label> Renavam </mat-label>
					<input matInput type="text" formControlName="renavam" required />
				</mat-form-field>
			</form>
			<div class="controls">
				<button color="primary" mat-button matStepperPrevious>Voltar</button>
				<button color="primary" mat-raised-button matStepperNext (click)="registerVehicle()">
					Proximo
				</button>
			</div>
		</mat-step>
		<mat-step label="Confirmação" state="done">
			<div class="loading-modal">

				<ng-container *ngIf="itsSaved === 0">
					<h1>Salvando informações...</h1>
					<mat-spinner color="primary"> </mat-spinner>
				</ng-container>

				<ng-container *ngIf="itsSaved === 1">
					<h1>Informações salvas com sucesso!</h1>
					<mat-icon> done </mat-icon>
				</ng-container>

				<ng-container *ngIf="itsSaved === 2">
					<h1>Ocorreu um erro ao tentar salvar.</h1>
					<h3>Por favor, tente novamente.</h3>
					<mat-icon> error </mat-icon>
				</ng-container>

				<ng-container *ngIf="itsSaved === 3">
					<h1>Veículo ja cadastrado e inativo.</h1>
					<h3>Deseja reativar?</h3>
					<button color="primary" mat-raised-button (click)="reactive(idVehicle)">
						Sim, quero reativar.
					</button>
					<button mat-button mat-dialog-close>Cancelar</button>
				</ng-container>

			</div>
			<div class="controls">
				<button color="primary" mat-raised-button *ngIf="itsSaved === 1" [matDialogClose]="true">
					Finalizar
				</button>
			</div>
		</mat-step>
		<ng-template matStepperIcon="edit">
			<mat-icon>edit</mat-icon>
		</ng-template>
		<ng-template matStepperIcon="document">
			<mat-icon>description</mat-icon>
		</ng-template>
		<ng-template matStepperIcon="done">
			<mat-icon>done</mat-icon>
		</ng-template>
	</mat-stepper>
</div>