@mixin steps {
	@for $i from 1 through 4 {
		&:nth-child(#{$i}) {
			z-index: -#{$i};
		}
	}
}

$cadastroItens: var(--cadastroItens);
$entradaItens: var(--entradaItens);
$saidaItens: var(--saidaItens);

$navbarColor: #263238;
$itemColor: #263238;
$iconHover: #263238;
$subMenuHover: #263238;
$fontColor: #fff;
$menuHamburguer: #263238;

mat-sidenav {
	background: #263238;
	width: 230px;
	height: 100%;

	&.expanded:not(.expandedMobile) {
		& ~ mat-sidenav-content {
			margin-left: 230px !important;
		}
	}

	&.expanded {
		display: flex;
		flex-direction: column;

		.side-menu {
			height: auto !important;
			width: auto !important;
			min-width: 167px !important;
			opacity: 100% !important;
			background-color: transparent !important;
			border-radius: 0 !important;
			transition: background-color 300ms !important;
		}

		.side-menu-links {
			display: block;
		}

		.navbar-side-menu {
			&:hover .side-menu,
			&[tabindex]:focus .side-menu,
			&[tabindex]:active .side-menu,
			&[tabindex]:focus-within .side-menu {
				background-color: $itemColor !important;
			}
		}

		.side-menu-title {
			pointer-events: none;

			&:focus ~ .side-menu-links,
			&:active ~ .side-menu-links,
			&:focus-within ~ .side-menu-links {
				background-color: $itemColor;
				position: fixed;
				left: 0;
				padding-left: 64px;
				width: 167px !important;
			}
		}

		.side-menu-links {
			&:hover,
			&:focus,
			&:active,
			&:focus-within {
				background-color: $itemColor;
				position: fixed;
				left: 0;
				padding-left: 63px;
				width: 167px !important;
			}
		}

		#expandable-itens {
			&:focus,
			&:focus-within {
				height: $cadastroItens;

				.side-menu-links {
					opacity: 100%;
					height: auto;
					width: auto;
					padding-bottom: 10px;
				}
			}
		}

		#expandable-entrada {
			&:focus,
			&:focus-within {
				height: $entradaItens;

				.side-menu-links {
					opacity: 100%;
					height: auto;
					width: auto;
					padding-bottom: 10px;
				}
			}
		}

		#expandable-saida {
			&:focus,
			&:focus-within {
				height: $saidaItens;

				.side-menu-links {
					opacity: 100%;
					height: auto;
					width: auto;
					padding-bottom: 10px;
				}
			}
		}
	}

	mat-sidenav-content {
		margin-left: 64px !important;
		transition: margin-left 300ms;
	}

	.tp-list {
		position: fixed;
		top: 8px;
	}

	.bt-list {
		position: fixed;
		bottom: 0%;
		width: 64px;
	}

	.nav_color {
		width: 100%;
		height: 100%;
		overflow: visible;
		background: $navbarColor;
	}

	.white-icon {
		color: white;
	}
	.white-icon svg {
		fill: white;
	}
	.content {
		margin-top: 10px;
	}

	mat-list-item {
		width: 65px;
		transition: background-color 300ms;
		height: 40px;

		.new-notify {
			z-index: 999;
			position: absolute;
			right: -11px;
			bottom: -5px;
			background: red;
			border-radius: 10px;
			padding: 0px 10px;
			color: #fff;
			font-size: 10px;
			transition: 1s ease-in-out;
		}

		mat-icon {
			border: 3px solid transparent;
			border-radius: 5px;
			transition: background-color 300ms, border-color 300ms;
		}
	}

	mat-list-item:hover {
		.new-notify {
			display: none;
		}
	}

	.navbar-side-menu {
		transition: background-color 300ms;
		@include steps();

		.img-icon {
			width: 25px;
			height: 25px;
			padding: 3px;
			border-radius: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&:hover,
		&[tabindex]:focus,
		&[tabindex]:active,
		&[tabindex]:focus-within {
			background-color: $itemColor;

			mat-icon,
			.img-icon {
				background-color: $iconHover;
				border-color: $iconHover;
			}

			.side-menu {
				height: auto;
				width: auto;
				opacity: 100%;
				background-color: $itemColor;
			}
		}

		.side-menu {
			position: absolute;
			left: 63px;
			top: 0;
			background-color: transparent;
			z-index: 2;
			min-width: 168px;
			padding: 0;
			border-radius: 0 5px 5px 0;
			opacity: 0;
			height: 0;
			width: 0;
			overflow: hidden;
			transition: opacity 300ms;

			.side-menu-title {
				line-height: 40px;
				margin: 0;
				padding: 0 10px;
				color: #fff;
				display: flex;
				align-items: center;

				span {
					display: flex;
				}

				span,
				mat-icon {
					background-color: transparent;
					border: none;
					margin-left: auto;
				}

				a {
					color: $fontColor;
					text-decoration: none;
					width: 100%;
				}

				&:hover ~ .side-menu-links,
				&[tabindex]:focus ~ .side-menu-links,
				&[tabindex]:active ~ .side-menu-links,
				&[tabindex]:focus-within ~ .side-menu-links {
					opacity: 100%;
					height: auto;
					width: auto;
					padding-bottom: 5px;
				}
			}

			.side-menu-links {
				opacity: 0;
				padding-bottom: 0;
				height: 0;
				width: 0;
				transition: opacity 300ms;

				&:hover,
				&:focus,
				&:active,
				&:focus-within {
					opacity: 100%;
					height: auto;
					width: auto;
					padding-bottom: 5px;
				}

				a {
					display: block;
					text-decoration: none;
					color: $fontColor;
					line-height: 32px;
					margin: auto 5px;
					padding: 0 5px;
					border-radius: 5px;
					background-color: transparent;
					transition: background-color 300ms;

					&:hover,
					&:focus,
					&:active,
					&:focus-within {
						background-color: $subMenuHover;
						display: block;
					}
				}
			}
		}
	}
}

.user-avatar,
.user-avatar__generic-icon {
	display: block !important;
	position: relative;
	margin-bottom: 10px;

	.user-username {
		position: absolute;
		top: 0;
		z-index: 2;
		left: 70px;
		width: 163px;
		min-width: 163px;

		p {
			font-size: 16px;
			color: #fff;
			margin: 0px;
			margin-bottom: 2px;
		}

		p.name {
			font-weight: bold;
		}
		p.job {
			font-size: 14px;
		}
	}
}

//OVERRIDE
a,
a:hover,
a:focus,
a:active,
a:visited {
	outline: none !important;
}

@media screen and (max-width: 768px) {
	.tp-container mat-sidenav.expanded {
		width: 175px;
	}
	.tp-container mat-sidenav.expanded .side-menu {
		min-width: 100px !important;
	}
	.tp-container mat-sidenav-content {
		margin-left: 0px !important;
	}
	mat-sidenav {
		display: none;
	}
	.tp-container mat-sidenav.expanded ~ mat-sidenav-content {
		margin-left: 0px !important;
	}
	.user-avatar img {
		display: block;
		width: 40px;
		height: 40px;
		object-fit: cover;
		border-radius: 50%;
		margin: 25px auto 0 10px;
	}
	.user-avatar {
		margin-bottom: 20px;
	}
	mat-list-item {
		margin-bottom: 10px;
	}
}

mat-sidenav-content {
	height: 100vh;
}

mat-toolbar {
	background-color: #fff;
	box-shadow: 0px 0px 5px #00000030;
	mat-icon {
		margin-left: 15px;
		color: $menuHamburguer;
	}
	justify-content: space-between;
	.box {
		// margin-top: 15px;
		display: flex;
		align-items: center;
	}
}

@media screen and (min-width: 1075px) {
	mat-sidenav {
		transition: 0.2s ease-in-out;
		width: 64px;
	}

	mat-sidenav {
		&.expanded {
			transition: 0.2s ease-in-out;
			width: 230px;
		}
	}

	mat-sidenav-content.expanded:not(.expandedMobile) {
		margin-left: 230px;
		transition: 0.2s ease-in-out;
	}

	mat-sidenav-content:not(.expandedMobile) {
		margin-left: 64px;
		transition: 0.2s ease-in-out;
	}
}

@media screen and (max-width: 900px) {
	mat-sidenav-content.expanded {
		margin-left: 0px !important;
	}

	mat-sidenav-content.expandedMobile {
		margin-left: 0px !important;
	}
}
