<mat-sidenav-container class="container">
	<mat-sidenav #sidebar mode="side" opened [fixedInViewport]="!isMobile"
		[ngClass]="{ expanded: expanded, expandedMobile: isMobile }" [mode]="isMobile ? 'over' : 'side'">
		<div class="nav_color">
			<mat-action-list>
				<div class="tp-list">
					<div class="user-avatar" matRipple *ngIf="isMobile">
						<!-- <img 
						src="../../../../../../assets/img/coottara.png" 
						alt="Imagem de perfil"
						class="user-avatar__user-photo" 
						/> -->
						<div class="user-username">
							<p class="name">{{ userName }}</p>
							<p class="job">{{ jobName }}</p>
						</div>
					</div>
					<ng-container *ngIf="!others">
						<!-- <br><br><br> -->
						<mat-list-item class="navbar-side-menu" (click)="toggleMode()">
							<a routerLink="/home" style="outline: none !important">
								<mat-icon class="white-icon" (click)="blurActiveItem()">home</mat-icon>
							</a>
							<div class="side-menu" routerLink="/home">
								<p class="side-menu-title">
									<a (click)="blurActiveItem()">Início</a>
								</p>
							</div>
						</mat-list-item>
						<mat-list-item class="navbar-side-menu" (click)="toggleMode()">
							<a routerLink="/home/cadastro/viagem">
								<mat-icon class="white-icon" (click)="blurActiveItem()">assignment
								</mat-icon>
							</a>
							<div class="side-menu" routerLink="/home/cadastro/viagem">
								<p class="side-menu-title">
									<a (click)="blurActiveItem()">Viagens</a>
								</p>
							</div>
						</mat-list-item>
						<!-- <mat-list-item class="navbar-side-menu">
							<a routerLink="/home/cadastro/transportes">
								<mat-icon class="white-icon" (click)="blurActiveItem()">reporte
								</mat-icon>
							</a>
							<div class="side-menu" routerLink="/home/cadastro/transportes">
								<p class="side-menu-title">
									<a (click)="blurActiveItem()">Relatórios</a>
								</p>
							</div>
						</mat-list-item> -->
					</ng-container>
				</div>

				<div class="bt-list">
					<!-- <mat-list-item class="navbar-side-menu">
						<a routerLink="/">
							<mat-icon class="white-icon">settings</mat-icon>
						</a>
						<div class="side-menu">
							<p class="side-menu-title">
								<a routerLink="/">Configurações</a>
							</p>
						</div>
					</mat-list-item> -->
					<mat-list-item class="navbar-side-menu">
						<a routerLink="/">
							<mat-icon class="white-icon">exit_to_app</mat-icon>
						</a>
						<div class="side-menu">
							<p class="side-menu-title">
								<a routerLink="/">Sair</a>
							</p>
						</div>
					</mat-list-item>
				</div>
			</mat-action-list>
		</div>
	</mat-sidenav>
	<mat-sidenav-content [ngClass]="{ expanded: expanded, expandedMobile: isMobile }">
		<div class="content">
			<div class="toolbar">
				<mat-toolbar>
					<mat-icon (click)="isMobile ? toggleMode() : toggleExpanded()">menu</mat-icon>
					<h3>{{ title }}</h3>
					<div class="box">
						<!-- <app-slide-toggle style="height: 30px" *ngIf="!isMobile"></app-slide-toggle> -->
						<!-- <app-user-avatar style="height: 40px" *ngIf="!isMobile"></app-user-avatar> -->
						<!-- <mat-icon>settings</mat-icon> -->
						<mat-icon>notifications</mat-icon>
						<!-- <mat-icon>account_circle</mat-icon> -->
					</div>
				</mat-toolbar>
			</div>
			<div class="main">
				<router-outlet></router-outlet>
			</div>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>