<div class="modalCadastra-container">
	<div class="close-button" title="Fechar" mat-dialog-close>
		<mat-icon>close</mat-icon>
	</div>
	<mat-stepper [orientation]="(stepperOrientation | async)!" [linear]="false">
		<mat-step label="Dados da viagem" state="edit" errorMessage="Preencha os campos obrigatórios."
			[stepControl]="_formGroupOrder">
			<form [formGroup]="_formGroupOrder" autocomplete="off">
				<mat-form-field>
					<mat-label> CAP </mat-label>
					<input matInput type="number" formControlName="numero_cap" />
					<!-- <mat-error *ngIf="!_formGroupOrder.hasError('required')">
						Informe o KM se houver ou zero.
					</mat-error> -->
				</mat-form-field>

				<mat-form-field>
					<mat-label> Centro de Custo </mat-label>
					<input matInput type="number" formControlName="centro_custo" />
					<!-- <mat-error *ngIf="!_formGroupOrder.hasError('required')">
						Informe o KM se houver ou zero.
					</mat-error> -->
				</mat-form-field>

				<mat-form-field>
					<mat-label>Empresa</mat-label>
					<input matInput formControlName="empresa" [matAutocomplete]="autoCategoria" required />
					<mat-error *ngIf="!_formGroupOrder.hasError('required')">
						Informe o solicitante da viagem.
					</mat-error>
					<mat-autocomplete #autoCategoria="matAutocomplete">
						<mat-option *ngFor="let option of empresa" [value]="option">{{ option }}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>

				<mat-form-field>
					<mat-label>Origem</mat-label>
					<input matInput formControlName="origem" [matAutocomplete]="autoOrigem" required />
					<mat-error *ngIf="!_formGroupOrder.hasError('required')">
						Informe a origem da viagem.
					</mat-error>
					<mat-autocomplete #autoOrigem="matAutocomplete">
						<mat-option *ngFor="let option of origem_destino" [value]="option">{{ option }}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>

				<mat-form-field>
					<mat-label>Destino</mat-label>
					<input matInput formControlName="destino" [matAutocomplete]="autoDestino" required />
					<mat-error *ngIf="!_formGroupOrder.hasError('required')">
						Informe o destino da viagem.
					</mat-error>
					<mat-autocomplete #autoDestino="matAutocomplete">
						<mat-option *ngFor="let option of origem_destino" [value]="option">{{ option }}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>

				<mat-form-field>
					<mat-label>Bloquinho</mat-label>
					<input matInput formControlName="bloquinho" [matAutocomplete]="autoBloquinho" required />
					<mat-error *ngIf="!_formGroupOrder.hasError('required')">
						Informe se foi preenchido o bloquinho.
					</mat-error>
					<mat-autocomplete #autoBloquinho="matAutocomplete">
						<mat-option *ngFor="let option of bloquinho" [value]="option">{{ option }}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>

				<mat-form-field>
					<mat-label> KM Inicial </mat-label>
					<input matInput type="number" formControlName="km_inicial" />
					<!-- <mat-error *ngIf="!_formGroupOrder.hasError('required')">
						Informe o KM se houver ou zero.
					</mat-error> -->
				</mat-form-field>

				<mat-form-field>
					<mat-label> KM Final </mat-label>
					<input matInput type="number" formControlName="km_final" />
					<!-- <mat-error *ngIf="!_formGroupOrder.hasError('required')">
						Informe o KM se houver ou zero.
					</mat-error> -->
				</mat-form-field>

				<mat-form-field>
					<mat-label> Valor </mat-label>
					<input matInput type="text" formControlName="valorCorrida"/>
					<!-- <mat-error *ngIf="!_formGroupOrder.hasError('required')">
						Informe o valor se houver ou zero.
					</mat-error> -->
				</mat-form-field>

				<mat-form-field>
					<mat-label>Status</mat-label>
					<input matInput formControlName="status" [matAutocomplete]="autoStatus" required />
					<mat-error *ngIf="!_formGroupOrder.hasError('required')">
						Informe se foi preenchido o bloquinho.
					</mat-error>
					<mat-autocomplete #autoStatus="matAutocomplete">
						<mat-option *ngFor="let option of status" [value]="option">{{ option }}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</form>
			<div class="controls">
				<button color="primary" mat-button mat-dialog-close>Cancelar</button>
				<button color="primary" mat-raised-button matStepperNext>
					Proximo
				</button>
			</div>
		</mat-step>

		<mat-step label="Passageiros" state="person" [stepControl]="_formPassageiros"
			errorMessage="Preencha os campos obrigatórios.">
			<form [formGroup]="_formPassageiros" autocomplete="off">
				<mat-form-field>
					<mat-label> 1º Passageiro </mat-label>
					<input matInput type="text" formControlName="passageiro_one" />
					<!-- <mat-error *ngIf="!_formGroupOrder.hasError('required')">
						Pelo menos um passageiro é obrigatório.
					</mat-error> -->
				</mat-form-field>
				<mat-form-field>
					<mat-label> 2º Passageiro </mat-label>
					<input matInput type="text" formControlName="passageiro_two" />
				</mat-form-field>
				<mat-form-field>
					<mat-label> 3º Passageiro </mat-label>
					<input matInput type="text" formControlName="passageiro_three" />
				</mat-form-field>
				<mat-form-field>
					<mat-label> 4º Passageiro </mat-label>
					<input matInput type="text" formControlName="passageiro_four" />
				</mat-form-field>
			</form>
			<div class="controls">
				<button color="primary" mat-button matStepperPrevious>Voltar</button>
				<button color="primary" mat-raised-button matStepperNext (click)="registerOrder()">
					Proximo
				</button>
			</div>
		</mat-step>

		<mat-step label="Confirmação" state="done">
			<div class="loading-modal">

				<ng-container *ngIf="itsSaved === 0">
					<h1>Salvando informações...</h1>
					<mat-spinner color="primary"> </mat-spinner>
				</ng-container>

				<ng-container *ngIf="itsSaved === 1">
					<h1>Informações salvas com sucesso!</h1>
					<mat-icon> done </mat-icon>
				</ng-container>

				<ng-container *ngIf="itsSaved === 2">
					<h1>Ocorreu um erro ao tentar salvar.</h1>
					<h3>Por favor, tente novamente.</h3>
					<mat-icon> error </mat-icon>
				</ng-container>

				<ng-container *ngIf="itsSaved === 3">
					<h1>Viagem já cadastrada ou inativa.</h1>
					<h3>Deseja reativar?</h3>
					<button color="primary" mat-raised-button (click)="reactive(idOrder)">
						Sim, quero reativar.
					</button>
					<button mat-button mat-dialog-close>Cancelar</button>
				</ng-container>

			</div>
			<div class="controls">
				<button color="primary" mat-raised-button *ngIf="itsSaved === 1" [matDialogClose]="true"
					(click)="refresh()">
					Finalizar
				</button>
			</div>
		</mat-step>
		<ng-template matStepperIcon="edit">
			<mat-icon>edit</mat-icon>
		</ng-template>
		<ng-template matStepperIcon="document">
			<mat-icon>description</mat-icon>
		</ng-template>
		<ng-template matStepperIcon="done">
			<mat-icon>done</mat-icon>
		</ng-template>
	</mat-stepper>
</div>